@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@charset "UTF-8";

@font-face{
font-family:ng;
src:url(Hanna.eot);
src:local(※), url(Hanna.woff) format(‘woff’)
}


.login{
	text-align: right;
	float: right;
	height: 30px;
	margin: 10px;

}

.signup{
	text-align: right;
	float: right;
	height: 30px;
	margin: 10px;
	
}

.login_signup{
	height: 50px;
}

header{
	
	background-color: #707382;
	background-size: contain;
	background-repeat: no-repeat;
	
}

.title{
	font-family: 'Hanna', serif;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
}

#title{
	font-size:  80px;
}

.slogan{
	height: 100px;
	background-color: #707382;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
}

.howto{
	height: 50px;
	width: 250px;
	display: inline-block;
	background-color: #707382;
	margin-left: 350px;
	margin-top: 50px;

}


.navi{
	display: table;
	text-align: center;
	vertical-align: middle;	
}

.enroll{
	height: 50px;
	width: 200px;
	display: inline-block;
	background-color: #707382;
	margin-top: 50px;
	display: table;
	text-align: center;
	vertical-align: middle;
}

.show_rank{
	height: 50px;
	width: 200px;
	display: inline-block;
	background-color: #707382;
	margin-top: 50px;
	display: table;
	text-align: center;
	vertical-align: middle;
}

.board{
	height: 50px;
	width: 200px;
	display: inline-block;
	background-color: #707382;
	margin-top: 50px;
	display: table;
	text-align: center;
	vertical-align: middle;
}

#contents{
	height:800px;


}

#sidebar{
	height:100%;
}

.navbar{
	padding: 20px;
	text-align: center;
}

.col-xs-10{
	display: inline-block;
}

.pyo{
	text-align: center;
	height: 50px;

}

.container{
	display: table;
}

#ranklist{
	width: 50px;
	display: inline-block;
}
#rank{
	height: 50px;
	width: 50px;
	display: block;

}
#r_list{
	width: 50px;
	text-align: center;
	display: block;	
}

#gijalist{
	width: 80px;
	display: inline-block;
}
#gija{
	height: 50px;
	width: 80px;
	display: block;
}
#g_list{
	width: 80px;
	text-align: center;
	display: block;
}

#stamplist{
	width: 100px;
	display: inline-block;	
}
#stamp{
	height: 50px;
	width: 100px;
	display: block;
}
#s_list{
	width: 100px;
	text-align: center;
	display: block;	
}

#datelist{
	width: 100px;
	display: inline-block;
}
#date{
	height: 50px;
	width: 100px;
	display: block;
}
#d_list{
	width: 100px;
	text-align: center;
	display: block;	
}

#gisalist{
	width: 450px;
	display: inline-block;
}
#gisa{
	height: 50px;
	width: 550px;
	display: block;
}
#gi_list{
	width: 450px;
	text-align: center;
	display: block;	
}

#ratelist{
	width: 60px;
	display: inline-block;
}
#rate{
	height: 50px;
	width: 60px;
	display: block;
}
#ra_list{
	width: 60px;
	text-align: center;
	display: block;	
}

.page{
	display: inline-block;
	text-align: center;
	margin-left: 400px;
}

#first{
	display: inline-block;
	text-align: center;
}
#second{
	display: inline-block;
	text-align: center;
}
#third{
	display: inline-block;
	text-align: center;
}

.ranking_list{
	margin-top: 0px;
}


ul{
	list-style: none;
	padding: 10px;
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
}
ol{
	list-style-position: outside;
	text-align: left;
}

li{
	padding-bottom: 20px;	
	text-align: center;
}

body{
	display: block;
}

h1{
	text-align: center;
	font-family: 'Hanna', serif;
}

h3{
	font-family: 'Hanna', serif;
	text-align: center;

}

div{

	border: solid black 1px;
	
}


footer{
	padding: 10px;
	display: block;
	text-align: center;
	background-color: #707382;
}

.about{
	display: inline-block;
}
